{
    "plugins": ["prettier", "@typescript-eslint", "import", "react-hooks"],
    "extends": [
      "react-app",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "env": {
      "node": true,
      "browser": true,
      "jest": true
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "error"
    }
}
  