body {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;
  height: 100vh;
  overflow: overlay;
  scroll-padding-top: 64px;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  https://tailwindcss.com/
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
